backend/node RED/UserServices.json
[
    {
        "id": "915c7577a0efe750",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f5b9a6c552579ae",
        "type": "http in",
        "z": "915c7577a0efe750",
        "name": "Get All Users",
        "url": "/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "bcf235e544d3c2fa"
            ]
        ]
    },
    {
        "id": "5febd54f1d4a26e8",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "afe4fb25560223e7",
        "type": "http in",
        "z": "915c7577a0efe750",
        "name": "Get user By Id",
        "url": "/users/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "b06f28140cfe2ba6"
            ]
        ]
    },
    {
        "id": "95a25433753e956c",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1190,
        "y": 120,
        "wires": []
    },
    {
        "id": "5a82c78e062341a8",
        "type": "change",
        "z": "915c7577a0efe750",
        "name": "Trata o retorno do 404",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário não encontrado!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 120,
        "wires": [
            [
                "95a25433753e956c"
            ]
        ]
    },
    {
        "id": "b06f28140cfe2ba6",
        "type": "function",
        "z": "915c7577a0efe750",
        "name": "Query",
        "func": "msg.payload = [{_id: msg.req.params.id}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 160,
        "wires": [
            [
                "aa3693e04c6cf012"
            ]
        ]
    },
    {
        "id": "4fb0955ea4d2b902",
        "type": "switch",
        "z": "915c7577a0efe750",
        "name": "Check if user was found",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "5a82c78e062341a8"
            ],
            [
                "90503ee28768805b"
            ]
        ]
    },
    {
        "id": "90503ee28768805b",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "882d182e212b1ff1",
        "type": "http in",
        "z": "915c7577a0efe750",
        "name": "Create user",
        "url": "/users",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "e7d6559a84b26e21"
            ]
        ]
    },
    {
        "id": "6824b1774664e368",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Created",
        "statusCode": "201",
        "headers": {},
        "x": 1180,
        "y": 240,
        "wires": []
    },
    {
        "id": "e6a4608046db986b",
        "type": "http in",
        "z": "915c7577a0efe750",
        "name": "Update user",
        "url": "/users/:id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "bb2f11387e3d3057"
            ]
        ]
    },
    {
        "id": "bb2f11387e3d3057",
        "type": "function",
        "z": "915c7577a0efe750",
        "name": "Query",
        "func": "msg.body = msg.payload;\nmsg.payload = [\n    {\n        _id: msg.req.params.id}, {\n            $set: {\n\n                email: msg.body.email,\n                password: msg.body.password,\n                role: msg.body.role,\n\n                }\n            \n            }\n    \n    ]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 400,
        "wires": [
            [
                "a8a58a9f8b39d8b0"
            ]
        ]
    },
    {
        "id": "967a7605b94d1306",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Sucesso",
        "statusCode": "",
        "headers": {},
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "8da2cc29aae1e486",
        "type": "switch",
        "z": "915c7577a0efe750",
        "name": "Check if was updated",
        "property": "payload.matchedCount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "967a7605b94d1306"
            ],
            [
                "9a121c66bc0ad414"
            ]
        ]
    },
    {
        "id": "9a121c66bc0ad414",
        "type": "change",
        "z": "915c7577a0efe750",
        "name": "Trata o retorno do 404",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário não encontrado!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 400,
        "wires": [
            [
                "ff1fd1440fc57673"
            ]
        ]
    },
    {
        "id": "ff1fd1440fc57673",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "120abfcbef46e3fe",
        "type": "http in",
        "z": "915c7577a0efe750",
        "name": "Delete user",
        "url": "/users/:id",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "6588995d179e5b8d"
            ]
        ]
    },
    {
        "id": "5202fd5b196aa9a1",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Deleted",
        "statusCode": "200",
        "headers": {},
        "x": 1180,
        "y": 460,
        "wires": []
    },
    {
        "id": "6588995d179e5b8d",
        "type": "function",
        "z": "915c7577a0efe750",
        "name": "Query",
        "func": "msg.payload = [{_id: msg.req.params.id}]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 480,
        "wires": [
            [
                "7513144dc244904c"
            ]
        ]
    },
    {
        "id": "ddf183a93cf9ef5b",
        "type": "switch",
        "z": "915c7577a0efe750",
        "name": "Check if was deleted",
        "property": "payload.deletedCount",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 480,
        "wires": [
            [
                "5202fd5b196aa9a1"
            ],
            [
                "b2bc253aaa6c64cd"
            ]
        ]
    },
    {
        "id": "36cdabb0ba46e9db",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1190,
        "y": 520,
        "wires": []
    },
    {
        "id": "b2bc253aaa6c64cd",
        "type": "change",
        "z": "915c7577a0efe750",
        "name": "Trata o retorno do 404",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário não encontrado!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 500,
        "wires": [
            [
                "36cdabb0ba46e9db"
            ]
        ]
    },
    {
        "id": "bcf235e544d3c2fa",
        "type": "mongodb4",
        "z": "915c7577a0efe750",
        "clientNode": "b854cddf765319fc",
        "mode": "collection",
        "collection": "users",
        "operation": "find",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": false,
        "name": "find all users",
        "x": 290,
        "y": 60,
        "wires": [
            [
                "5febd54f1d4a26e8"
            ]
        ]
    },
    {
        "id": "aa3693e04c6cf012",
        "type": "mongodb4",
        "z": "915c7577a0efe750",
        "clientNode": "b854cddf765319fc",
        "mode": "collection",
        "collection": "users",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "4fb0955ea4d2b902"
            ]
        ]
    },
    {
        "id": "e7d6559a84b26e21",
        "type": "mongodb4",
        "z": "915c7577a0efe750",
        "clientNode": "b854cddf765319fc",
        "mode": "collection",
        "collection": "users",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "6824b1774664e368"
            ]
        ]
    },
    {
        "id": "a8a58a9f8b39d8b0",
        "type": "mongodb4",
        "z": "915c7577a0efe750",
        "clientNode": "b854cddf765319fc",
        "mode": "collection",
        "collection": "users",
        "operation": "updateMany",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "8da2cc29aae1e486"
            ]
        ]
    },
    {
        "id": "7513144dc244904c",
        "type": "mongodb4",
        "z": "915c7577a0efe750",
        "clientNode": "b854cddf765319fc",
        "mode": "collection",
        "collection": "users",
        "operation": "deleteMany",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "ddf183a93cf9ef5b"
            ]
        ]
    },
    {
        "id": "b94d1bca94ba48ea",
        "type": "http in",
        "z": "915c7577a0efe750",
        "name": "login user",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 640,
        "wires": [
            [
                "d686194c266cad3c"
            ]
        ]
    },
    {
        "id": "b2c2e80f33165a2d",
        "type": "mongodb4",
        "z": "915c7577a0efe750",
        "clientNode": "b854cddf765319fc",
        "mode": "collection",
        "collection": "users",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "0",
        "handleDocId": true,
        "name": "",
        "x": 420,
        "y": 640,
        "wires": [
            [
                "744d7c9608a8a9c0"
            ]
        ]
    },
    {
        "id": "d686194c266cad3c",
        "type": "function",
        "z": "915c7577a0efe750",
        "name": "Query",
        "func": "msg.body = msg.payload;\nmsg.payload = [{email: msg.body.email, password: msg.body.password}];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 640,
        "wires": [
            [
                "b2c2e80f33165a2d"
            ]
        ]
    },
    {
        "id": "744d7c9608a8a9c0",
        "type": "switch",
        "z": "915c7577a0efe750",
        "name": "Check if user was found",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "8ece45d17d0c75d4"
            ],
            [
                "27e0dbc0cfa0eaae"
            ]
        ]
    },
    {
        "id": "a1bd3bfdbaed9b45",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "Not Found",
        "statusCode": "404",
        "headers": {},
        "x": 1190,
        "y": 600,
        "wires": []
    },
    {
        "id": "8ece45d17d0c75d4",
        "type": "change",
        "z": "915c7577a0efe750",
        "name": "Trata o retorno do 404",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Usuário não encontrado!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 600,
        "wires": [
            [
                "a1bd3bfdbaed9b45"
            ]
        ]
    },
    {
        "id": "7ebb37f724bb6aca",
        "type": "http response",
        "z": "915c7577a0efe750",
        "name": "OK",
        "statusCode": "200",
        "headers": {},
        "x": 1210,
        "y": 660,
        "wires": []
    },
    {
        "id": "27e0dbc0cfa0eaae",
        "type": "jwt sign",
        "z": "915c7577a0efe750",
        "name": "User JWT",
        "alg": "HS256",
        "exp": 3600,
        "jwkurl": "",
        "jwkkid": "",
        "secret": "test",
        "key": "",
        "signvar": "payload",
        "storetoken": "payload",
        "x": 880,
        "y": 660,
        "wires": [
            [
                "7714ae33b671df08"
            ]
        ]
    },
    {
        "id": "7714ae33b671df08",
        "type": "function",
        "z": "915c7577a0efe750",
        "name": "Format Response",
        "func": "msg.token = msg.payload;\nmsg.payload = {\"token\": msg.token};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "7ebb37f724bb6aca"
            ]
        ]
    },
    {
        "id": "b854cddf765319fc",
        "type": "mongodb4-client",
        "name": "usercontrol",
        "protocol": "mongodb",
        "hostname": "localhost",
        "port": "27017",
        "dbName": "usercontrol",
        "appName": "UserControl",
        "authSource": "",
        "authMechanism": "DEFAULT",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "30000",
        "socketTimeoutMS": "0",
        "minPoolSize": "0",
        "maxPoolSize": "100",
        "maxIdleTimeMS": "0",
        "uri": "",
        "advanced": "{}",
        "uriTabActive": "tab-uri-simple"
    }
]